<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoopark.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".animation.enter.activity.EnterAnimHybridActivity"></activity>
        <activity android:name=".animation.enter.activity.EnterAnimScaleActivity" />
        <activity android:name=".animation.enter.activity.EnterAnimSlideActivity" />
        <activity android:name=".animation.enter.activity.EnterAnimHomeActivity" />
        <activity android:name=".notify.section.NotifySectionActivity" />
        <activity android:name=".notify.headerfooter.NotifyHeaderFooterActivity" />
        <activity android:name=".empty.EmptyViewActivity" />
        <activity android:name=".animation.item.activity.TranslationAnimActivity" />
        <activity android:name=".animation.item.activity.ScaleAnimActivity" />
        <activity android:name=".animation.item.activity.FlipAnimActivity" />
        <activity android:name=".animation.item.activity.HomeAnimActivity" />
        <activity android:name=".complex.ComplexPageActivity" />
        <activity android:name=".animation.item.activity.FadeAnimActivity" />
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>